<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxl.inventory.mapper.InboundItemMapper">

    <resultMap id="BaseResultMap" type="com.hxl.inventory.model.entity.InboundItem">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="inboundId" column="inbound_id" jdbcType="BIGINT"/>
            <result property="drugId" column="drug_id" jdbcType="BIGINT"/>
            <result property="batchNo" column="batch_no" jdbcType="VARCHAR"/>
            <result property="quantity" column="quantity" jdbcType="INTEGER"/>
            <result property="price" column="price" jdbcType="DECIMAL"/>
            <result property="amount" column="amount" jdbcType="DECIMAL"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,inbound_id,drug_id,
        batch_no,quantity,price,
        amount,is_deleted,create_time
    </sql>
</mapper>
