<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hxl.inventory.mapper.OutboundMapper">

    <resultMap id="BaseResultMap" type="com.hxl.inventory.model.entity.Outbound">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="outboundNo" column="outbound_no" jdbcType="VARCHAR"/>
            <result property="operatorId" column="operator_id" jdbcType="BIGINT"/>
            <result property="outboundDate" column="outbound_date" jdbcType="TIMESTAMP"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,outbound_no,operator_id,
        outbound_date,remark,is_deleted,
        create_time,update_time
    </sql>
</mapper>
